/* CLIENT SIDE */
/* MAIN PAGE */

body {
    background-color: #02273a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

/* MAIN PAGE TOP MENU */

.topNav {
    position: fixed;
    top: 1;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    border-radius: 50px;
    width: 50%;
    color: white;
    background-color: rgba(52, 52, 52, 0.416);
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 50vh;
}

.topNav i {
    font-size: 24px;
}

.topNav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 75px;
    margin-left: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropbtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn i {
    margin-right: 8px;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange;
}

#searchCircle {
    margin-right: -9.5px;
}

.search-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffb20b, #ff4800);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border: 0.5px solid rgb(94, 94, 94);
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.search-container.expanded {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    justify-content: flex-start;
}

.search-icon {
    color: white;
    margin-left: -10px;
}

.search-input {
    display: none;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 0 10px;
}

.search-container.expanded .search-input {
    display: block;
}

.TOPnav {
    height: 50px;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bi-person-circle {
    color: black;
    font-size: 22px;
    margin-right: 20px;
}

.bi-cart {
    font-size: 25px;
    color: black;
    margin-right: 20px;
}

.CartLOGIN {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.image-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainPic {
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 10vh;
    clip-path: polygon(100% 0, 100% 100%, 0% 90%, 0% 0);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

#trendingTXT {
    color: white;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bi-chevron-compact-right {
    color: rgba(255, 255, 255, 0.788);
    margin-left: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.trending {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 6rem;
}

.card {
    width: 100%;
    max-width: 38rem;
    max-height: 22rem;
    border-radius: 12px;
    margin: 10px auto;
    background-color: #101436;
}

.trendingTXT {
    display: flex;
    align-items: center;
}

#imgCard {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    max-width: 38rem;
    max-height: 22rem;
}

.bi-star-half,
.bi-star-fill {
    color: rgb(255, 211, 14);
    font-size: 1.5rem;
    margin-right: 3px;
    margin-bottom: 10px;
}

.reviews-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(28, 28, 28);
    height: 20rem;
}

.manIMG {
    align-content: flex-start;
    flex: 0 0 auto;
    position: relative;
    bottom: 3rem;
}

#manIMG {
    width: 21rem;
    height: 29rem;
}

.starsANDtxt-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stars-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomMenu {
    display: grid;
    grid-template-rows: 60vh 1vh;
    grid-template-columns: 33.3333% 33.3333% 33.333%;
    width: 100%;
    background-color: black;
}

.item1 {
    grid-row: 1/1;
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    padding-left: 10vh;
    padding-top: 10vh;
}

.item2 {
    grid-row: 1/2;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10vh;
    size: 40px;
}

.item3 {
    grid-row: 1/2;
    grid-column: 3/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item4 {
    grid-row: 2/2;
    grid-column: 1/4;
}

#greenstars {
    width: 40vh;
    height: auto;
    padding-bottom: 10px;
}

.item1 a {
    margin-left: 15px;
}

.item2 a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bi-controller,
.bi-gift {
    color: rgb(255, 98, 1);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.glow-text {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, text-shadow 0.3s;
}

.glow-text:hover {
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange;
}

.item2ICONS1,
.item2ICONS2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item3 a {
   
