body {
    background-color: #101436;
    /* Set the background color of the body */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}


.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #101436;
}

.logo img {
    width: 200px;
    height: auto;
}

.progress-bar {
    display: flex;
    align-items: center;
    margin-top: 0;
    flex-direction: row;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.step.completed .circle {
    background-color: #f60;
}

.label {
    font-size: 14px;
    color: white;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 0 10px;
}

.step.completed + .line {
    background-color: #f60;
}

.secure-payment {
    display: flex;
    align-items: center;
    background-color: #101436;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}

.lock-icon {
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.secure-text {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.ssl-text {
    font-size: 12px;
    color: #bbb;
}




.container{
    margin-top: 5%;
}


.buttons {
    width: 100%;
   margin-left: 10%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(52, 52, 52, 0.416);
    border: 1px solid white;

}

/* Style the buttons that are used to open the tab content */
h2{
    display: flex;
    justify-content: center;
}



.tablinks {
    color: white;
    font-size: larger;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(52, 52, 52, 0.416);

    /* Dark blue with some transparency */
    backdrop-filter: blur(10px);
    /* Adjust the blur intensity */
    -webkit-backdrop-filter: blur(10px);
}




.tabcontent-container {
    width: auto;
    padding: 10px;
}

.tabcontent h3 {
    color: orange;
}



.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(33, 33, 33);
    margin-top: 8px;
}

.card a {
    font-size: 20px;
    color: white;
}


.price {
    color: grey;
    font-size: 22px;
    padding-top: 10px;
}







.rightside {
  margin-left: 30%;
  color: white;
}

.summary {
    background-color: rgba(52, 52, 52, 0.416);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    border: 1px solid white;

}

.summary h2 {
    margin-bottom: 20px;
}

.details {
    margin-bottom: 20px;
}


.subtotal {
    display: inline;
}

.payment-btn {
    background: linear-gradient(to bottom, #ffb20b, #ff4800);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: not-allowed;
    width: 100%;
    margin-bottom: 10px;
}


.payment-card {
    padding: 20px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-left: -8%;
}

.payment-card .form-label {
    color: white;
}

.payment-card .form-control {
    background-color: rgba(52, 52, 52, 0.5);
    color: white;
}


.payment-card .btn-primary {
    background: linear-gradient(to bottom, #ffb20b, #ff4800);
    border: none;
    width: 100%;
    margin-top: 10px;
}

.or-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    
}

.or-divider span {
    padding: 0 10px;
}

.or-divider:before,
.or-divider:after {
    content: "";
    display: block;
    height: 1px;
    background: white;
    flex-grow: 1;
}

.continue-btn {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.continue-btn:hover {
   color: #ffb20b;
}

.continue-btn:before {
    content: "<";
    margin-right: 5px;
}





.trash {
    color: #f60; /* Adjust color as needed */
    cursor: pointer;
    font-size: 30px;
    margin-top: 20%;
    margin-left: 75px;
}

.trash:hover {
    color: #ff4800; /* Change color on hover if desired */
}

.product{
    display: flex;
}

.empty-message {
    text-align: center;
    font-size: 18px;
    color: grey;
    display: flex;
}

.emptyCart{
    font-size: 40px;
color: white;
}

#emptyMessage button {
    background: linear-gradient(to bottom, #ffb20b, #ff4800);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#emptyMessage button:hover {
    background: linear-gradient(to bottom, #ff4800, #ffb20b);
}




